{% extends 'base.html.twig' %}

{% block title %}New ImageEvenement
{% endblock %}

{% block body %}
	<h1 class="my-5">Ajouter une image pour cette évènement -- obligatoire</h1>

	{{ include('image_evenement/_form.html.twig') }}

	<a href="{{ path('app_image_evenement_index') }}">back to list</a>
{% endblock %}
