{% extends 'base.html.twig' %}

{% block title %}New Evenement
{% endblock %}

{% block body %}
	<h1 class='my-5'>Création d'un nouvel évènement</h1>

	{{ include('evenement/_form.html.twig') }}

	<a href="{{ path('app_evenement_index') }}">back to list</a>
{% endblock %}
