<ul class="nav nav-pills nav-justified">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Evenement</a>
        <ul class="dropdown-menu z-3">
        <li><a class="dropdown-item" href="#">Evenement</a></li>
        <li><a class="dropdown-item" href="#">Participation</a></li>
        <li><a class="dropdown-item" href="#">Catégorie</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Transport</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Transport</a></li>
        <li><a class="dropdown-item" href="#">Réservation</a></li>
        <li><a class="dropdown-item" href="#">Type de transport</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Utilisateur</a>
    </li>
</ul>