@import "~bootstrap/scss/bootstrap";

.home-category-list {
    display: flex;
    justify-content: center;
    & ul{
        justify-content: space-between;
        display: flex;
        list-style: none;
        padding-inline-start: 0;
    }
}
