{% extends 'base.html.twig' %}

{% block title %}Edit TypeTransport{% endblock %}

{% block body %}
    <h1>Edit TypeTransport</h1>

    {{ include('type_transport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_transport_index') }}">back to list</a>

    {{ include('type_transport/_delete_form.html.twig') }}
{% endblock %}
